@font-face {font-family:"Garamond"; src:url("../fonts/Garamond/Garamond Regular.ttf")}
@font-face {font-family:"Liberation Sans"; src:url("../fonts/Liberation Sans/LiberationSans-Regular.ttf")}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {box-sizing:border-box;}

body {
    margin:0;
    background:url("../img/bg.png");
    background-size:contain;
    background:radial-gradient(40% 70% at 50% top, rgba(255, 255, 255, 0.25) 0%, rgba(141, 161, 181, 0.25) 80%, rgba(1, 47, 90, 0.25) 100%),
               linear-gradient(90deg, rgba(1, 47, 90, 1) 0%, rgba(43, 130, 175, 1) 15%, rgba(43, 130, 175, 1) 50%, rgba(43, 130, 175, 1) 85%, rgba(1, 47, 90, 1) 100%);
}

h2 {
    font-family:"Garamond";
    font-size:25pt;
}
p {
    font-family: "Helvetica Neue", "Liberation Sans", "Arial", "Roboto";
    font-size:13pt;
}

/*------------------*/
/*  Header styling  */
/*------------------*/
header {
    position:relative;
    min-height:110px;
    background:#111213;
    background:radial-gradient(360px 180px at 92% top, #2D2E2F, #111213);
    padding:0 20px 0 20px;
}

.search {
    position:absolute;
    top:20px;
    right:20px;
    border-radius:25px;
    border:none;
    padding:2px 10px 2px 30px;
    width:125px;
    box-shadow:inset 1px 1px 2px 0px rgba(0,0,0,0.75);
    outline:none;
    z-index:399;
}

.btn-search {
    position:absolute;
    top:27px;
    right:122px;
    background:url("../img/search_icon.png");
    background-size:contain;
    width:16px;
    height:16px;
    border:none;
    border-radius:50%;
    cursor:pointer;
    outline:none;
    z-index:399;
}

.logo {
    background:url("../img/logo.png");
    background-size:contain;
    background-repeat:no-repeat;
    width:399px;
    height:58px;
    margin-top:35px;
}

nav.nav-main {margin-top:65px;}

nav.nav-main > a {
    color:#fff;
    font-size:12pt;
    margin-right:14.5px;
    font-family:"Garamond";
    text-decoration:none;
}

.intro {
    background:#111213;
    min-height:150px;
    width:100%;
    padding:30px 20px 50px 30px;
}

.mission {
    font-size:30pt;
    color:#a3a3a3;
}

.social-media-header-mod {
    margin-top:30px;
    text-align:right;
}

/*------------------------*/
/*  Main content styling  */
/*------------------------*/
.main-content {
    background:#fff;
}

.post {
    padding:20px;
}

.post-date {
    color:#2c83b0;
    font-size:10pt;
    margin:-12px 0 10px 0;
}

.post-pic-frame {
    border:1px solid #e5e5e5;
    background:#f3f3f3;
    display:table;
    margin-bottom:15px;
}

.post-pic-frame > img {
    border:4px solid #e5e5e5;
    margin:1px;
    display:table;
}

.aside-item > h2 {
    padding-top:20px;
}

.post-content > h2, .aside-item > h2 {
    font-size:25pt;
}

.aside-item > p {
    margin:0 0 5px 0;
}

.post-content > p, .aside-item > p {
    font-size:13pt;
}

.post-content > p, .post-content > h2,
.aside-item > p, .aside-item > h2 {
    color:#303030;
}

button.btn-read-more {
    border:none;
    border-top:1px solid #e3f0f7;
    border-bottom:1px solid #2c83b0;
    border-radius:3px;
    background:rgba(110, 179, 214, 1);
    background:linear-gradient(180deg, rgba(110, 179, 214, 1) 0%, rgba(69, 128, 158, 1) 100%);
    height:26px;
    width:140px;
    cursor:pointer;
    color:#e2e1e1;
    font-size:10pt;
}

aside {
    background:#ececec;
    background:linear-gradient(180deg, rgba(236, 236, 236, 1) 50%, rgba(255, 255, 255, 1) 100%);
    padding:0 20px 0 20px;
}

aside a, aside a:hover {
    text-decoration:none;
    color:#2c83b0;
    font-size:13pt;
}

.divider {
    background:#f7f7f7;
    background: linear-gradient(90deg, rgba(247,247,247,1) 0%, rgba(240,240,240,1) 50%, rgba(247,247,247,1) 100%);
    height:1px;
    width:100%;
    margin:30px 0px 30px 0;
    border-top:1px solid #fafafa;
}

nav.nav-pg {margin-right:3px;}
.pg-page, .pg-end {width:22px;}
.pg-start {
    padding:0 8px 0 8px;
    margin:0 0 20px 20px;
}

.pg-start, .pg-end, .pg-page {
    background:#eeeeee;
    display:inline-block;
    height:21px;
    line-height:21px;
    color:#9a9a9a;
    text-align:center;
    font-size:10pt;
    font-family:"Helvetica Neue", "Liberation Sans", "Arial", "Roboto";
    cursor:pointer;
}

.pg-active {
    color:#fff;
    background:#c1c1c1;
}

/*--------------------*/
/*  Sponsors styling  */
/*--------------------*/
.sponsors {
    background:#fff;
    display:table;
    padding:20px;
}

.sponsors > h2 {
    color:#303030;
    font-family:"Garamond";
    font-size:25pt;
    padding-bottom:20px;
}

.sponsor-pic {
    border:1px solid #f6f6f6;
    padding:1px;
    background:#fafafa;
    display:table;
    width:140px;
    height:86px;
    float:left;
    margin:0 11px 11px 0;
}

.sponsor-frame {
    border:4px solid #f6f6f6;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

/*------------------*/
/*  Footer styling  */
/*------------------*/
footer {
    padding:0 20px 60px 20px;
    background:#0f0f0f;
}

footer h2 {
    color:#fff;
    font-family:"Garamond";
    font-size:25pt;
    padding:25px 0 20px 0;
}

footer h3 {
    color:#a3a3a3;
    font-family:"Garamond";
    font-size:13pt;
}

footer .social-media {
    text-align:left;
}

footer .social-media > a {
    margin-right:9px;
}

.vision > p {
    color:#6f6e6e;
    font-family:"Helvetica Neue", "Liberation Sans", "Arial", "Roboto";
}

.vision > .color-alt {
    color:#a3a3a3;
}

.contact p {
    margin:5px;
    font-size:13pt;
    color:#6f6e6e;
    margin:2px;
}

.contact > p:last-of-type {
    margin-bottom:30px;
}

.flickr-stream {
    max-width:270px;
}

.after-footer-shadow {
    box-shadow: 0px 2px 20px 12px rgba(0, 0, 0, 0.45);
    margin-bottom:100px;
    border-radius:25%;
}

/*------------------*/
/*   Misc styling   */
/*------------------*/
.highlight {
    color:red;
    border-bottom:1px solid red;
}

@media (max-width: 1200px) {
    .search, .btn-search {display:none;}

    .logo {
        width:339.15px;
        height:49.3px;
    }
    
    nav.nav-main {
        margin-top:30px;
        margin-bottom:30px;
    }
    .social-media-header-mod {
        text-align:center;
        margin:15px 0 15px 0;
    }
}

@media (max-width: 768px) {
    .logo {
        max-width:95%;
    }
    
    .social-media > a > img {
        margin-bottom:15px;
    }
}

@media (max-width: 375px) {
    nav.nav-main > a {
        display:block;
    }

    .container {
        padding:0;
    }
    
    .after-footer-shadow {
        margin:0;
    }
}